body {
  background-color: #eaeaea;
  margin: 0;
}
.menu {
  background-color: #fec107;
  height: 50px;
  padding-top: 15px;
  padding-left: 20px;
}

.menuItems {
  display: inline-block;
  float: left;
  margin-right: 2%;
  font-size: 25px;
  color: #3c3c3c;
  height: 100%;
}